* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    padding: 1em 15em;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 1.5em;
}

.header a {
    color: white;
    text-decoration: none;
}

.header-links a {
    font-weight: 200;
    font-size: 0.8em;
    color: #ffffffcb;
}

.logo {
    margin-right: auto;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    color: #fff;
}

.footer p {
    font-size: 0.8em;
    font-weight: 300;
    padding: 1.5em 0;
}

.main {
    flex-grow: 1;
}

.section-one {
    display: flex;
    padding: 4em 15em;
    color: #fff;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.section-one div {
    flex-basis: 450px;
    height: 200px;
}

.section-one h1 {
    font-size: 48px;
    font-weight: 900;
}

.section-one p {
    color: #ffffffc9;
    font-weight: 400;
    font-size: 0.9em;
}

.sign-up-btn {
    color: white;
    padding: 1em;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 2em;
    cursor: pointer;
}

.section-one .btn {
    background-color: #3882f6;
    margin: 1em 0 0;
}

.section-one .img-holder {
    background-color: #ffffff55;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-two-top {
    text-align: center;
    padding: 0 0 6em;
}

.section-two-top h2 {
    color: #1f2937;
    padding: 1em 0;
}

.small-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.small-img-container .img-box {
    flex-basis: 100px;
    text-align: center;
}

.img-box p {
    font-size: 0.7em;
    color: #1f2937c1;
    font-weight: 600;
    margin-top: 0.7em;
}

.img-box div {
    width: 100px;
    height: 100px;
    border: solid 2px #3882f6;
    border-radius: 0.5em;
}

.section-two-middle {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote-box {
    padding: 6em 0;
    width: 450px;
    display: flex;
    flex-direction: column;
}

.quote-box h4 {
    font-size: 0.9em;
    align-self: flex-end;
}

.quote-text {
    color: #1f2937;
    font-size: 1.2em;
    font-style: italic;
}

.section-two-bottom {
    padding: 4em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

.sign-up-box {
    display: flex;
    background-color: #3882f6;
    border-radius: 0.375em;
    padding: 2em 4em;
}

.sign-up-box .btn {
    background-color: #3881f600;
    border: 1px solid #e5e7eb;
    margin-left: 4em;
}

.sign-up-box p {
    color: #ffffffa2;
    font-size: 0.9em;
}
